# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
backend/.venv/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
backend/storage/
backend/storage/processed/
backend/storage/secure/users/*.db
backend/storage/secure/logs/*.log
backend/storage/raw/courses/*
!backend/storage/raw/courses/.gitkeep
backend/agent_core/config/.env

tmp/
